 body{
    background-image: url("background.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
 }


#container{
    height: 200px;
    width: 550px;
    background-color: rgb(58, 114, 137);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border: 5px solid black;
}

#output{
    font-size: 40px;
    text-align: center;
}

#date{
    font-size: 40px;
    text-align: center;
}